name: 'Markdown: comments'
scopeName: 'comment.md'
patterns: [
  {
    name: 'comment.block.md'
    begin: '(<!--)'
    end: '(-->)'
    captures:
      1: { name: 'punctuation.md' }
      3: { name: 'punctuation.md' }
  }
]
