# NOTE
# Copy-and-paste from language-gfm package. Needs some work I think.
'name': 'Markdown emphasis (inline)'
'scopeName': 'emphasis.source.md'
'fileTypes': []
'patterns': [
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*\\*\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\*\\*\\**\\*(?=$|[^\\w|\\d])'
    'name': 'bold.italic.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d_])___(?!$|_|\\s)'
    'end': '(?<!^|\\s)___*_(?=$|[^\\w|\\d])'
    'name': 'bold.italic.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\*\\**\\*(?=$|[^\\w|\\d])'
    'name': 'bold.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d_])__(?!$|_|\\s)'
    'end': '(?<!^|\\s)__*_(?=$|[^\\w|\\d])'
    'name': 'bold.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\**\\*(?=$|[^\\w|\\d])'
    'name': 'italic.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d_\\{\\}])_(?!$|_|\\s)'
    'end': '(?<!^|\\s)_*_(?=$|[^\\w|\\d])'
    'name': 'italic.md'
  }
  {
    'begin': '(?<=^|[^\\w\\d~])~~(?!$|~|\\s)'
    'end': '(?<!^|\\s)~~*~(?=$|[^\\w|\\d])'
    'name': 'strike.md'
  }
]
