# http://spec.commonmark.org/0.22/#horizontal-rule
name: 'Markdown: horizontal rules'
scopeName: 'hr.md'
patterns: [
  {
    name: 'hr.md'
    # match: '^[ ]{0,3}[-]{3,}$'
    match: '^[ ]{0,3}[-]{1,} *[-]{1,} *[-]{1,}[ -]*$'
  }
  {
    name: 'hr.md'
    # match: '^[ ]{0,3}[*]{3,}$'
    match: '^[ ]{0,3}[*]{1,} *[*]{1,} *[*]{1,}[ \*]*$'
  }
  {
    name: 'hr.md'
    # match: '^[ ]{0,3}[_]{3,}$'
    match: '^[ ]{0,3}[_]{1,} *[_]{1,} *[_]{1,}[ _]*$'
  }
]
