'name': 'Markdown'
'scopeName': 'source.md'
'fileTypes': [
  # temporary file-type, to co-exist with other packages
  'emdee'
  # 'markdown'
  # 'md'
  # 'mdown'
  # 'mkd'
  # 'mkdown'
  # 'rmd'
  # 'ron'
]
