'name': 'Markdown'
'scopeName': 'source.md'
'fileTypes': [
  # temporary file-type, to co-exist with other packages
  'emdee'
  # 'markdown'
  # 'md'
  # 'mdown'
  # 'mkd'
  # 'mkdown'
  # 'rmd'
  # 'ron'
]

'patterns': [
  {
    'include': '#blocks'
  }
  {
    'include': '#inline'
  }
]

'repository':
  'blocks':
    'patterns': [
      {
        'include': 'heading.source.md'
      }
      # {
      #   'include': '#dividers'
      # }
      # {
      #   'include': '#lists'
      # }
      # {
      #   'include': '#quote'
      # }
      # {
      #   'include': '#table'
      # }
      # {
      #   'include': '#comment'
      # }
    ]
  'inline':
    'patterns': [
      {
        'include': 'emphasis.source.md'
      }
      # {
      #   'include': '#links'
      # }
      # {
      #   'include': '#inline-code'
      # }
    ]
