name: 'Markdown'
scopeName: 'text.md'
fileTypes: [
  'emdee' # temporary file-type, to co-exist with other packages
  # 'markdown'
  # 'md'
  # 'mdown'
  # 'mkd'
  # 'mkdown'
  # 'rmd'
  # 'ron'
]

patterns: [
  { include: '#blocks' }
  { include: '#inline' }
]

repository:

  blocks:
    patterns: [
      { include: 'comment.md' }
      { include: 'hr.md' }
      { include: 'heading.md' }
      # { include: 'dividers.md' }
      # { include: 'lists.md' }
      # { include: 'quote.md' }
      # { include: 'table.md' }
    ]

  inline:
    patterns: [
      { include: 'emphasis.md' }
      # { include: 'links.md' }
      # { include: 'inline-code.md' }
    ]
