key: 'fenced-code'
patterns: [
  {
    # begin: '^\\s{0,3}([`]{3,})(?:[^`]*)?$'
    begin: '^\\s{0,3}([`]{3,})$'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '^\\s{0,3}(\\1)$'
    endCaptures:
      1: name: 'punctuation.md'
    name: 'fenced.code.md'
    contentName: 'source.embedded'
  }

  {
    # begin: '^\\s{0,3}([~]{3,})(?:[^~]*)?$'
    begin: '^\\s{0,3}([~]{3,})$'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '^\\s{0,3}(\\1)$'
    endCaptures:
      1: name: 'punctuation.md'
    name: 'fenced.code.md'
    contentName: 'source.embedded'
  }
]
