key: 'fenced-code-info'
patterns: [
  {
    match: '([^ ]+)(=)([^ ]+)'
    name: 'info.fenced.code.md'
    captures:
      1: name: 'key.keyword.md'
      2: name: 'punctuation.md'
      3: name: 'value.string.md'
  }
]
