key: 'headings'
patterns: [
  {
    # Empty headings
    match: '^(?:[ ]{0,3})((?:#{1,6})\\s*(?:#*)\\s*)$'
    name: 'empty.heading.markup.md'
    captures:
      1:
        patterns: [
          {
            match: '^(#{6})\\s*(#*)\\s*$'
            name: 'heading-6.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{5})\\s*(#*)\\s*$'
            name: 'heading-5.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{4})\\s*(#*)\\s*$'
            name: 'heading-4.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{3})\\s*(#*)\\s*$'
            name: 'heading-3.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{2})\\s*(#*)\\s*$'
            name: 'heading-2.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{1})\\s*(#*)\\s*$'
            name: 'heading-1.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
        ]
  }
  {
    # NOTE
    # Does it make sense to first do a general check to determine if there is a
    # match for a heading? It seems more logical to test against one match, than
    # to go through all six of them every iteration.
    match: '^((?: {0,3})(?:#{1,6})(?: +)(?:.+))$'
    name: 'heading.markup.md'
    captures:
      1:
        patterns: [
          {
            begin: '^(?: {0,3})(#{1})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-1.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
          {
            begin: '^(?: {0,3})(#{2})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-2.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
          {
            begin: '^(?: {0,3})(#{3})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-3.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
          {
            begin: '^(?: {0,3})(#{4})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-4.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
          {
            begin: '^(?: {0,3})(#{5})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-5.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
          {
            begin: '^(?: {0,3})(#{6})(?: +)'
            end: '(?: ){1}(#*)(?:\\s*)(?:(\\{[[:ascii:]]*\\}))?$'
            name: 'heading-6.md'
            beginCaptures:
              1: { name: 'punctuation.md' }
            endCaptures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#special-attributes' }]
            patterns: [{ include: '#inlines-in-blocks'}]
          }
    ]
  }
]
