key: 'hr'
patterns: [
  {
    name: 'hr.constant.md'
    match: '^[ ]{0,3}[-]{1,} *[-]{1,} *[-]{1,}[ -]*$'
  }
  {
    name: 'hr.constant.md'
    match: '^[ ]{0,3}[*]{1,} *[*]{1,} *[*]{1,}[ \*]*$'
  }
  {
    name: 'hr.constant.md'
    match: '^[ ]{0,3}[_]{1,} *[_]{1,} *[_]{1,}[ _]*$'
  }
]
