key: 'yaml-front-matter'
patterns: [
  {
    begin: '\\A---$'
    end: '^(---|\\.\\.\\.)$'
    captures:
      0: name: 'hr.md'
    name: 'front-matter.yaml.source.md'
    patterns: [{ include: 'source.yaml' }]
  }
]
