key: 'github-blocks'
patterns: [

  # Table: structure
  {
    name: 'table.storage.md'
    match: '^(\\|(?= |:|-)[ |:-]*?)(\\|?)$'
    captures:
      1:
        patterns: [
          {
            match: '(\\|)(?: ?)(:?)(-+)(:?)(?: ?)(?=\\|| |$)'
            captures:
              1: name: 'punctuation.md'
              2: name: 'alignment.punctuation.md'
              3: name: 'punctuation.md'
              4: name: 'alignment.punctuation.md'
          }
        ]
      2: name: 'punctuation.md'
  }

  # Table: data
  {
    name: 'table.storage.md'
    match: '^(\\|)(?= )(.+)$'
    captures:
      1: name: 'punctuation.md'
      2:
        patterns: [
          {
            match: '(?<= )\\|(?=$| )'
            name: 'punctuation.md'
          }
          {
            include: '#inlines-in-blocks'
          }
        ]
      3: name: 'punctuation.md'
  }

]
