key: 'github-blocks'
patterns: [

  # Tables
  {
    name: 'table.storage.md'
    # match: '^(\\|)(?=[ :])(.+)((?<=[ :])\\|?)\\s*$'
    match: '^(\\|)(?=[ :])(.+)$'
    captures:
      1: name: 'punctuation.md'
      2:
        patterns: [
          {
            match: '(?<=[ :])\\|(?=$|[ :])'
            name: 'punctuation.md'
          }
          {
            match: '(:?)(-+)(:?)'
            captures:
              1: name: 'alignment.punctuation.md'
              2: name: 'punctuation.md'
              3: name: 'alignment.punctuation.md'
          }
          {
            include: '#inlines-in-blocks'
          }
        ]
      3: name: 'punctuation.md'
  }

]
