key: 'math-block'
patterns: [
  {
    name: 'block.math.markup.md'
    begin: '(\\${2})'
    end: '(\\${2})'
    patterns: [{ include: 'text.tex.latex' }]
    beginCaptures:
      1: name: 'punctuation.md'
    endCaptures:
      1: name: 'punctuation.md'
  }

  {
    name: 'block.math.markup.md'
    begin: '\\\\\\\\\\['
    end: '\\\\\\\\\\]'
    patterns: [{ include: 'text.tex.latex' }]
    beginCaptures:
      0: name: 'punctuation.definition.string.begin.latex'
    endCaptures:
      0: name: 'punctuation.definition.string.end.latex'
  }

  {
    name: 'block.math.markup.md'
    begin: '(\\\\begin)(\\{)(equation\\*?)(\\})'
    end: '(\\\\end)(\\{)(\\3)(\\})'
    patterns: [{ include: 'text.tex.latex' }]
    beginCaptures:
      1: name: 'support.function.be.latex'
      2: name: 'punctuation.definition.arguments.begin.latex'
      3: name: 'variable.parameter.function.latex'
      4: name: 'punctuation.definition.arguments.end.latex'
    endCaptures:
      1: name: 'support.function.be.latex'
      2: name: 'punctuation.definition.arguments.begin.latex'
      3: name: 'variable.parameter.function.latex'
      4: name: 'punctuation.definition.arguments.end.latex'
  }
]
