key: 'pandoc-citations'
patterns: [
  {
    # NOTE
    # Citations go inside square brackets and are separated by semicolons. Each citation must have a key, composed of ‘@’ + the citation identifier from the database, and may optionally have a prefix, a locator, and a suffix. The citation key must begin with a letter, digit, or _, and may contain alphanumerics, _, and internal punctuation characters (:.#$%&-+?<>~/).
    # http://pandoc.org/README.html#citations
    match: '(?x)
      (
        (\-?@)
        (
          [a-zA-Z0-9_]
          [a-zA-Z0-9_:.#$%&+?<>~/-]*
        )
      )'
    captures:
      2: name: 'punctuation.md'
    name: 'citation.reference.variable.md'
  }
]
