key: 'pandoc-raw-attribute-blocks'
patterns: [

  # See https://pandoc.org/MANUAL.html#generic-raw-attribute
  {
    begin: '^\\s{0,3}([`~]{3,})\\s*\\{\\s*=(latex|beamer)\\s*\\}\\s*?$'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '^\\s{0,3}(\\1)$'
    endCaptures:
      1: name: 'punctuation.md'
    name: 'fenced.rawattribute.md'
    contentName: 'source.embedded.latex'
    patterns: [{ include: 'text.tex.latex' }]
  }
  {
    begin: '^\\s{0,3}([`~]{3,})\\s*\\{\\s*=(openxml|opendocument)\\s*\\}\\s*?$'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '^\\s{0,3}(\\1)$'
    endCaptures:
      1: name: 'punctuation.md'
    name: 'fenced.rawattribute.md'
    contentName: 'source.embedded.xml'
    patterns: [{ include: 'text.xml' }]
  }
  {
    begin: '^\\s{0,3}([`~]{3,})\\s*\\{\\s*=(html(?:4|5)?)\\s*\\}\\s*?$'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '^\\s{0,3}(\\1)$'
    endCaptures:
      1: name: 'punctuation.md'
    name: 'fenced.rawattribute.md'
    contentName: 'source.embedded.html'
    patterns: [{ include: 'text.html.basic' }]
  }

]
