# http://rmarkdown.rstudio.com/authoring_rcodechunks.html
# http://www.rstudio.com/wp-content/uploads/2015/03/rmarkdown-reference.pdf

key: 'rmarkdown'
patterns: [
  {
    begin: '^(```)((\\{)(r)([^,]*)(,?)([^\\}]*)(\\}))$'
    end: '^(\\1)$'
    name: 'fenced.code.md'
    contentName: 'embedded.source.r'
    patterns: [{ include: 'source.r' }]
    beginCaptures:
      1: name: 'punctuation.md'
      # 2:
      3: name: 'punctuation.md'
      4: name: 'language.constant.md'
      # before comma
      5: patterns: [{ include: '#special-attribute-elements' }]
      6: name: 'punctuation.md'
      # after comma
      7: patterns: [{ include: '#special-attribute-elements' }]
      8: name: 'punctuation.md'
    endCaptures:
      1: name: 'punctuation.md'
  }
]
