key: 'rmarkdown-attributes'
patterns: [

  # key=TRUE
  {
    match: '(?x)
      (?#<=^|,|,\\s)
      ([A-Za-z0-9\\.]+)
      (?:\\s?)
      (=)
      (?:\\s?)
      (TRUE|FALSE)
    '
    name: 'rmarkdown.attribute.meta.md'
    captures:
      1: name: 'key.keyword.md'
      2: name: 'punctuation.md'
      3: name: 'value.constant.md'
  }

  # key=value
  {
    match: '(?x)
      (?#<=^|,|,\\s)
      ([A-Za-z0-9\\.]+)
      (?:\\s?)
      (=)
      (?:\\s?)
      ([A-Za-z0-9]+)
    '
    name: 'rmarkdown.attribute.meta.md'
    captures:
      1: name: 'key.keyword.md'
      2: name: 'punctuation.md'
      3: name: 'value.constant.md'
  }

  # key="value"
  {
    match: '(?x)
      (?#<=^|,|,\\s)
      ([A-Za-z0-9\\.]+)
      (?:\\s?)
      (=)
      (?:\\s?)
      (
        (\'|")
        ([^\\4]*?)
        (\\4)
      )
    '
    name: 'rmarkdown.attribute.meta.md'
    captures:
      1: name: 'key.keyword.md'
      2: name: 'punctuation.md'
      3: name: 'value.string.md'
      4: name: 'punctuation.md'
      6: name: 'punctuation.md'
  }

]
