# http://rmarkdown.rstudio.com/authoring_rcodechunks.html
# http://www.rstudio.com/wp-content/uploads/2015/03/rmarkdown-reference.pdf
# http://yihui.name/knitr/options/

key: 'rmarkdown'
patterns: [
  {
    # test and edit regex on https://regex101.com/r/PDu8pO/1/tests
    begin: '(?x)
        (?:\\n|^)(`{3,})
            (\\{)
                (r|javascript|js|jsx|python|sql|bash|rcpp|stan|css)[ ]*,?[ ]*
                (?:([^= ,]*)[ ]*(?:(?=[,\\}])|(?=[ ]+[a-zA-Z0-9_])))?[ ]*,?[ ]*
                (.*?)
            (\\})[ ]*
        (?=\\n|$)
    '
    end: '(?x)
        (?:\n|^)
            (\\1)
        (?=\\n|$)'

    name: 'fenced.code.md'
    contentName: 'embedded.source.r'
    patterns: [{ include: 'source.r' }]

    beginCaptures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
      3: name: 'language.constant.md'
      4: name: 'label.string.md'
      5: patterns: [{ include: '#rmarkdown-attributes' }]
      6: name: 'punctuation.md'
    endCaptures:
      1: name: 'punctuation.md'
  }
]
