key: 'code'
patterns: [
  {
    # begin: '(`+)(?!$)'
    # end: '(?<!`)(\\1)(?!`)'
    # match: '(?<!`)(`+)[^`]+(\\1)(?!`)'
    match: '(?<!`)(`+)(?!`).+?(?<!`)(\\1)(?!`)'
    name: 'code.raw.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
  }
]
