key: 'emphasis'
patterns: [
  # TODO remove 'interword' class when done
  # TODO interword doesn't need multiline?
  #
  # TODO 356 multiline
  # TODO 367 multiline
  # TODO 370 (ignore?)
  # TODO 373 (ignore?)
  # TODO 374
  # TODO 382 multiline
  # TODO 388 (ignore?)
  # TODO 391 multiline
  # TODO 398
  # TODO 401
  # TODO 402
  # TODO 403
  # TODO 404
  # TODO 405
  # TODO 406
  # TODO 410
  # TODO 413
  # TODO 414
  # TODO 415
  # TODO 416
  # TODO 417
  # TODO 418
  # TODO 429 (ignore, don't even agree)
  # TODO 431 (ignore?)
  # TODO 432
  # TODO 433 links (order of rules?)
  # TODO 434 links (order of rules?)
  # TODO 435 html (order of rules?)
  # TODO 436 html (order of rules?)
  # TODO 437 html (order of rules?)
  # TODO 440 html (order of rules?)
  # TODO 441 html (order of rules?)

  # Strong emphasis, __ or **
  # {
  #   match: '(?<!\\w)([_|\*]{2})(?!\\s)(?m:(.+))(?<!\\s)(\\1)(?!\\w)'
  #   name: 'strong.emphasis.md'
  #   captures:
  #     1: name: 'punctuation.md'
  #     2: patterns: [{ include: '#emphasis' }]
  #     3: name: 'punctuation.md'
  # }

  {
    match: '(?<![\\w|\\\\])([_]{2})(?!\\s)(?m:(.+?))(?<![\\s|\\\\])(\\1)(?!\\w)'
    name: 'strong.emphasis.bold.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#inlines-in-inlines' }
        # { include: '#escapes' }
        # { include: '#code' }
        # { include: '#links' }
        # { include: '#emphasis' }
      ]
      3: name: 'punctuation.md'
  }
  {
    match: '(?<![\\w|\\\\])([\\*]{2})(?!\\s)(?m:(.+?))(?<![\\s|\\\\])(\\1)(?!\\w)'
    name: 'strong.emphasis.bold.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#inlines-in-inlines' }
        # { include: '#escapes' }
        # { include: '#inline-code' }
        # { include: '#links' }
        # { include: '#emphasis' }
      ]
      3: name: 'punctuation.md'
  }
  {
    # Interword ** is permitted
    match: '(?<=\\w)([\\*]{2})(?:.+?)(?<!\\W)(\\1)'
    name: 'strong.emphasis.bold.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
  }
  {
    match: '(?<=\\s|^)([\\*]{2})(?=\\w)(?:.+?)(\\1)(?=\\w)'
    name: 'strong.emphasis.bold.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
  }

  # ----------------------------------------

  # Emphasis, _ or *, conveniently combined
  # {
  #   # match: '(?<!\\w)([_|\*])(?!\\s)(?m:(.+))(?<!\\s)(\\1)(?!\\w)'
  #   match: '(?<!\\w)([_|\*])(?!\\s|\\1)(?m:(.+))(?<!\\s)(\\1)(?!\\w)'
  #   name: 'emphasis.md'
  #   captures:
  #     1: name: 'punctuation.md'
  #     2: patterns: [{ include: '#emphasis' }]
  #     3: name: 'punctuation.md'
  # }
  #
  # NOTE
  # The matches for _ and * are separated though pretty similar, because the negative look-back at the beginning couldn't reference to \\1 as used in the example above

  {
    match: '(?<![\\w|_|\\\\])([_])(?!\\s|\\1)(?m:(.+?))(?<![\\s|\\\\])(\\1)(?!\\w)'
    name: 'emphasis.italic.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#inlines-in-inlines' }
        # { include: '#escapes' }
        # { include: '#code' }
        # { include: '#links' }
        # { include: '#emphasis' }
      ]
      3: name: 'punctuation.md'
  }
  {
    match: '(?<![\\w|\\*|\\\\])([\\*])(?!\\s|\\1)(?m:(.+?))(?<![\\s|\\\\])(\\1)(?!\\w)'
    name: 'emphasis.italic.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#inlines-in-inlines' }
        # { include: '#escapes' }
        # { include: '#code' }
        # { include: '#links' }
        # { include: '#emphasis' }
      ]
      3: name: 'punctuation.md'
  }
  {
    # Interword * is permitted
    # match: '(?<=\\w)([\*])(?m:(.+))(?<!\\W)(\\1)'
    match: '(?<=\\w)([\\*])(?:.+?)(?<!\\W)(\\1)'
    name: 'emphasis.italic.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
  }
  {
    # match: '(?<=\\s|^)([\*])(?=\\w)(?m:(.+))(\\1)(?=\\w)'
    match: '(?<=\\s|^)([\\*])(?=\\w)(?:.+?)(\\1)(?=\\w)'
    name: 'emphasis.italic.markup.md'
    captures:
      1: name: 'punctuation.md'
      2: name: 'punctuation.md'
  }
]
