key: 'link-destination'
patterns: [
  {
    name: 'destination.link.md'
    match: '^(<)(.*)(>)$'
    captures:
      1: name: 'punctuation.md'
      2: name: 'markup.underline.link'
      3: name: 'punctuation.md'
  }
  {
    name: 'destination.link.md'
    match: '(.+)'
    captures:
      1: name: 'markup.underline.link'
  }
]
