key: 'link-text'
patterns: [
  {
    name: 'text.link.string.md'
    match: '(?x)
      ^(\\[)
      (
        (
          (?:!\\[)
          (?:[^\\[\\]]*)
          (?:\\])
        )
        (\\()
        ([^ [:cntrl:]]+)?
        (?:
          (?:\\s+)
          (
            (?:["\'\\(])
            .*?
            (?:["\'\\)])
          )
          (?:\\s*)
        )?
        (\\))
        (\\{[[:ascii:]]*\\})?
      )
      (\\])
    '
    captures:
      1: name: 'punctuation.md'
      2: name: 'link.markup.md'
      3: patterns: [{ include: '#link-text' }]
      4: name: 'punctuation.md'
      5: patterns: [{ include: '#link-destination' }]
      6: patterns: [{ include: '#link-title' }]
      7: name: 'punctuation.md'
      8: patterns: [{ include: '#special-attributes' }]
      9: name: 'punctuation.md'
  }
  {
    name: 'image.link.string.md'
    match: '^(!\\[)(.*)(\\])$'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#emphasis' }
        { include: '#code' }
      ]
      3: name: 'punctuation.md'
  }
  {
    name: 'text.link.string.md'
    match: '^(\\[)(.*)(\\])$'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [
        { include: '#emphasis' }
        { include: '#code' }
      ]
      3: name: 'punctuation.md'
  }
]
