key: 'link-label'
patterns: [

  # NOTE by @burodepeper
  # The ^ is an optional character for Markdown Extra footnotes
  # The * is an optional character for Markdown Extra abbreviations
  {
    name: 'label.link.string.md'
    match: '^(\\*?\\[\\^?)(.*)(\\])$'
    captures:
      1: name: 'punctuation.md'
      2: patterns: [{ include: '#references' }]
      3: name: 'punctuation.md'
  }

]
