name: 'Markdown'
scopeName: 'text.md'
fileTypes: [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
  'emdee'
]

maxTokensPerLine: 100

patterns: [
  { include: '#blocks' }
  { include: '#inlines' }
]

repository:
  blocks:
    patterns: [
      { include: '#comments' }
      { include: '#hr' }
      { include: '#headings' }
      { include: '#lists' }
      { include: '#quotes' }
      { include: '#tables' }
      { include: '#fenced-code' }
      { include: '#fenced-code-blocks' }
      { include: '#yaml-front-matter' }
    ]
  inlines:
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#links' }
      { include: '#html' }
      { include: '#emphasis' }
      { include: '#line-breaks' }
      { include: '#github' }
      { include: '#criticmark' }
    ]

  # NOTE line-breaks can't occur in blocks
  'inlines-in-blocks':
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#links' }
      { include: '#emphasis' }
      { include: '#github' }
      { include: '#criticmark' }
    ]

  # NOTE
  # Below are a select few special repository entries that I don't feel like
  # creating separate files for, since they are pretty much only helpers.

  html:
    patterns: [
      { include: 'text.html.basic' }
    ]

  'fenced-code-info':
    patterns: [
      {
        match: '([^ ]+)(=)([^ ]+)'
        name: 'info.fenced.code.md'
        captures:
          1: name: 'key.keyword.md'
          2: name: 'punctuation.md'
          3: name: 'value.string.md'
      }
    ]

  'link-destination':
    patterns: [
      {
        name: 'destination.link.md'
        match: '^(<)(.*)(>)$'
        captures:
          1: name: 'punctuation.md'
          2: name: 'uri.underline.link.md'
          3: name: 'punctuation.md'
      }
      {
        name: 'destination.link.md'
        match: '(.+)'
        captures:
          1: name: 'uri.underline.link.md'
      }
    ]

  'link-label':
    patterns: [
      {
        name: 'label.link.string.md'
        match: '^(\\[)(.*)(\\])$'
        captures:
          1: name: 'punctuation.md'
          3: name: 'punctuation.md'
      }
    ]

  'link-text':
    patterns: [
      {
        name: 'image.link.string.md'
        match: '^(!\\[)(.*)(\\])$'
        captures:
          1: name: 'punctuation.md'
          2: patterns: [
            { include: '#emphasis' }
            { include: '#code' }
          ]
          3: name: 'punctuation.md'
      }
      {
        name: 'text.link.string.md'
        match: '^(\\[)(.*)(\\])$'
        captures:
          1: name: 'punctuation.md'
          2: patterns: [
            { include: '#emphasis' }
            { include: '#code' }
          ]
          3: name: 'punctuation.md'
      }
    ]

  'link-title':
    patterns: [
      {
        name: 'title.link.md'
        match: '^([\'|"])(.*)(\\1)$'
        captures:
          1: name: 'punctuation.md'
          3: name: 'punctuation.md'
      }
      {
        name: 'title.link.md'
        match: '^(\\()(.*)(\\))$'
        captures:
          1: name: 'punctuation.md'
          3: name: 'punctuation.md'
      }
    ]
