name: 'Markdown'
scopeName: 'text.md'
fileTypes: [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
  'emdee'
]

maxTokensPerLine: 100

patterns: [
  { include: '#blocks' }
  { include: '#inlines' }
  { include: '#flavors' }
]

repository:
  blocks:
    patterns: [
      { include: '#comments' }
      { include: '#front-matter' }
      { include: '#hr' }
      { include: '#headings' }
      { include: '#lists' }
      { include: '#quotes' }
      { include: '#fenced-code' }
      { include: '#fenced-code-blocks' }
      { include: '#github-blocks' }
    ]
  inlines:
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#links' }
      { include: '#html' }
      { include: '#emphasis' }
      { include: '#line-breaks' }
    ]
  flavors:
    patterns: [
      { include: '#criticmark' }
      { include: '#github-inlines' }
      { include: '#markdown-extra' }
      { include: '#rmarkdown' }
    ]

  # NOTE by @burodepeper
  # line-breaks can't occur in blocks so we need a separate repo for inlines
  # that are allowed within blocks
  'inlines-in-blocks':
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#html' }
      { include: '#links' }
      { include: '#emphasis' }
      { include: '#flavors' }
    ]
