name: 'Markdown'
scopeName: 'text.md'
limitLineLength: false
fileTypes: [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
  'emdee'
  'spec'
]

# NOTE
# Disabled this, because the value of a hundred is already the default value, and changing it doesn't seem to have any direct effect.
# maxTokensPerLine: 100

patterns: [
  { include: '#blocks' }
  { include: '#inlines' }
  { include: '#flavors' }
]

repository:
  blocks:
    patterns: [
      { include: '#comments' }
      { include: '#front-matter' }
      { include: '#hr' }
      { include: '#headings' }
      { include: '#lists' }
      { include: '#quotes' }
      { include: '#rmarkdown' }
      { include: '#fenced-code-blocks' }
      { include: '#fenced-code' }
      { include: '#github-blocks' }
      { include: '#math-block' }
    ]
  inlines:
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#links' }
      { include: '#html' }
      { include: '#liquid' }
      { include: '#emphasis' }
      { include: '#line-breaks' }
      { include: '#todo' }
      { include: '#references' }
      { include: '#github-inlines' }
      { include: '#math-inline' }
    ]
  flavors:
    patterns: [
      { include: '#criticmark' }
      { include: '#github-inlines' }
      # { include: '#rmarkdown' }
      { include: '#markdown-extra' }
      { include: '#pandoc' }
      { include: '#ia-writer' }
    ]

  # NOTE by @burodepeper
  # line-breaks can't occur in blocks so we need a separate repo for inlines
  # that are allowed within blocks
  'inlines-in-blocks':
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#html' }
      { include: '#liquid' }
      { include: '#links' }
      { include: '#emphasis' }
      { include: '#todo' }
      { include: '#references' }
      { include: '#flavors' }
      { include: '#math-inline' }
    ]

  # NOTE
  # The inlines that are allowed inside of other inlines differ a little from inlines themselves, or something. This might have to be cleaned up later.
  # @burodepeper
  'inlines-in-inlines':
    patterns: [
      { include: '#escapes' }
      { include: '#code' }
      { include: '#entities' }
      { include: '#html' }
      { include: '#liquid' }
      { include: '#links' }
      { include: '#emphasis' }
      { include: '#todo' }
      { include: '#references' }
      { include: '#github-inlines' }
      { include: '#criticmark' }
    ]
