key: 'comment'
patterns: [

  # {
  #   name: 'comment.block.md'
  #   match: '(<!--)(?m:(.*))(-->)'
  #   captures:
  #     1:
  #       name: 'punctuation.md'
  #     3:
  #       name: 'punctuation.md'
  # }

  {
    name: 'comment.block.md'
    begin: '(<!--)'
    end: '(-->)'
    captures:
      1:
        name: 'punctuation.md'
      3:
        name: 'punctuation.md'
  }

]
