key: 'critic'
patterns: [
  {
    name: 'addition.critic.md'
    begin: '({\\+\\+)'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '(\\+\\+})'
    endCaptures:
      1: name: 'punctuation.md'
    patterns: [
      { include: '#emphasis' }
    ]
  }
  {
    name: 'deletion.critic.md'
    begin: '({--)'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '(--})'
    endCaptures:
      1: name: 'punctuation.md'
    patterns: [
      { include: '#emphasis' }
    ]
  }
  {
    name: 'highlight.critic.md'
    begin: '({==)'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '(==})'
    endCaptures:
      1: name: 'punctuation.md'
    patterns: [
      { include: '#emphasis' }
    ]
  }
  {
    name: 'comment.critic.md'
    begin: '({>>)'
    beginCaptures:
      1: name: 'punctuation.md'
    patterns: [
      {
        match: '(?<=[\\s|>])((@)(\\w[-\\w:]*))(?=\\s)'
        captures:
          1: name: 'username.reference.md'
          2: name: 'punctuation.md'
      }
      { include: '#emphasis' }
    ]
    end: '(<<})'
    endCaptures:
      1: name: 'punctuation.md'
  }
  {
    name: 'substitution.critic.md'
    begin: '({~~)'
    beginCaptures:
      1: name: 'punctuation.md'
    end: '(~~})'
    endCaptures:
      1: name: 'punctuation.md'
    patterns: [
      {
        match: '~>'
        name: 'punctuation.md'
      }
      { include: '#emphasis' }
    ]
  }
]
