key: 'github'
patterns: [
  {
    match: '(?<=^|\\s|"|\'|\\(|\\[)((@)(\\w[-\\w:]*))(?=[\\s"\'.,;\\)\\]])'
    captures:
      1: name: 'username.reference.gfm.md'
      2: name: 'punctuation.md'
  }
  {
    match: '(?<=^|\\s|"|\'|\\(|\\[)((#)(\\d+))(?=[\\s"\'\\.,;\\)\\]])'
    captures:
      1: name: 'issue.reference.gfm.md'
      2: name: 'punctuation.md'
  }
]
