key: 'heading'
patterns: [
  # Empty headings
  {
    match: '^(?: {0,3})((?:#{1,6})\\s*(?:#*)\\s*)$'
    name: 'empty.heading.md'
    captures:
      1:
        patterns: [
          {
            match: '^(#{6})\\s*(#*)\\s*$'
            name: 'heading-6.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{5})\\s*(#*)\\s*$'
            name: 'heading-5.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{4})\\s*(#*)\\s*$'
            name: 'heading-4.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{3})\\s*(#*)\\s*$'
            name: 'heading-3.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{2})\\s*(#*)\\s*$'
            name: 'heading-2.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
          {
            match: '^(#{1})\\s*(#*)\\s*$'
            name: 'heading-1.md'
            captures: {
              1: { name: 'punctuation.md' }
              2: { name: 'punctuation.md' }
            }
          }
        ]
  }
  {
    # NOTE
    # Does it make sense to first do a general check to determine if there is a
    # match for a heading? It seems more logical to test against one match, than
    # to go through all six of them every iteration.
    match: '^((?: {0,3})(?:#{1,6})(?: +)(?:.+))$'
    name: 'heading.md'
    captures:
      1:
        patterns: [
          {
            begin: '^(?: {0,3})(#{1})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-1.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
          {
            begin: '^(?: {0,3})(#{2})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-2.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
          {
            begin: '^(?: {0,3})(#{3})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-3.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
          {
            begin: '^(?: {0,3})(#{4})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-4.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
          {
            begin: '^(?: {0,3})(#{5})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-5.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
          {
            begin: '^(?: {0,3})(#{6})(?: +)'
            end: '(?: ){1}(#*)(?: *)$'
            name: 'heading-6.md'
            captures:
              1: { name: 'punctuation.md' }
              2: patterns: [{ include: '#inline' }]
              3: { name: 'punctuation.md' }
          }
    ]
  }
]
