key: 'links'
patterns: [

  {
    # (link)[</space uri>]
    name: 'link.3.md'
    match: '((\\[)([^\\]]*?)(\\]))((\\()(<)(.*)(>)(\\)))'
    captures:
      1: name: 'text.link.md'
      2: name: 'punctuation.md'
      3:
        patterns: [
          { include: '#inlines' }
        ]
      4: name: 'punctuation.md'
      5: name: 'destination.link.md'
      6: name: 'punctuation.md'
      7: name: 'punctuation.md'
      8: name: 'uri.md'
      9: name: 'punctuation.md'
      10: name: 'punctuation.md'
  }

  {
    # (link)[/uri "title"] or (link)[/uri 'title']
    #
    # NOTE title in parentheses not supported
    name: 'link.2.md'
    match: '((\\[)([^\\]]*?)(\\]))((\\()([^ ]*) ((["\'])(?:.+)(\\9))(\\)))'
    captures:
      1: name: 'text.link.md'
      2: name: 'punctuation.md'
      3:
        patterns: [
          { include: '#inlines' }
        ]
      4: name: 'punctuation.md'
      5: name: 'destination.link.md'
      6: name: 'punctuation.md'
      7: name: 'uri.md'
      8: name: 'title.link.md'
      9: name: 'punctuation.md'
      10: name: 'punctuation.md'
      11: name: 'punctuation.md'
  }

  {
    # (link)[/uri]
    name: 'link.1.md'
    match: '((\\[)([^\\]]*?)(\\]))((\\()(?!<)([^ ]*)(\\)))'
    captures:
      1: name: 'text.link.md'
      2: name: 'punctuation.md'
      3:
        patterns: [
          { include: '#inlines' }
        ]
      4: name: 'punctuation.md'
      5: name: 'destination.link.md'
      6: name: 'punctuation.md'
      7: name: 'uri.md'
      8: name: 'punctuation.md'
  }

]
