key: 'lists'
patterns: [

  # Task list item
  {
    match: '^(?:\\s*)(- \\[ \\])(?: )(.*)$'
    name: 'task.unordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
      2:
        patterns: [
          { include: '#blocks' }
          { include: '#inlines' }
        ]
  }

  # Completed task list item
  {
    match: '^(?:\\s*)(- \\[x\\])(?: )(.*)$'
    name: 'completed.task.unordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
      2:
        patterns: [
          { include: '#blocks' }
          { include: '#inlines' }
        ]
  }

  # Unordered list
  {
    match: '^(?:\\s*)([-+\\*]){1}(?: )(.*)$'
    name: 'unordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
      2:
        patterns: [
          { include: '#blocks' }
          { include: '#inlines' }
        ]
  }

  # Ordered list
  {
    match: '^(?:\\s*)([0-9]{1,9}[\\.\\)])(?: )(.*)$'
    name: 'ordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
      2:
        patterns: [
          { include: '#blocks' }
          { include: '#inlines' }
        ]
  }

  # Empty lists, for styling purposes

  {
    match: '^(?:\\s*)([-+\\*]){1}$'
    name: 'empty.unordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
  }

  {
    match: '^(?:\\s*)([0-9]{1,9}[\\.\\)])$'
    name: 'empty.ordered.list.md'
    captures:
      1: { name: 'punctuation.md' }
  }

]
