name: 'Markdown'
scopeName: 'text.md'
fileTypes: [
  'emdee' # temporary file-type, to co-exist with other packages
  # 'markdown'
  # 'md'
  # 'mdown'
  # 'mkd'
  # 'mkdown'
  # 'rmd'
  # 'ron'
]

maxTokensPerLine: 100

patterns: [
  { include: '#blocks' }
  { include: '#inlines' }
]

repository:
  blocks:
    patterns: [
      { include: '#comment' }
      { include: '#horizontal-rule' }
      { include: '#heading' }
      { include: '#disabled' }
      { include: '#lists' }
      { include: '#indented-code' }
      { include: '#quote' }
      { include: '#tables' }
    ]
  inlines:
    patterns: [
      { include: '#escapes' }
      { include: '#entities' }
      { include: '#inline-code' }
      { include: '#links' }
      { include: '#html' }
      { include: '#emphasis' }
      { include: '#github' }
      { include: '#critic' }
    ]
